html {
  margin: 0;
  padding: 0;
}
.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.top {
  display: flex;
  width: 90%;
  margin: 20px auto;
}
.top-left {
  width: 80%;
}
.top-left p {
  font-size: 1.5em;
}
.top-right img {
  width: 400px;
  height: 500px;
}
.about-btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #006a4e;
}
.about-btn:hover {
  background-color: #f42a40;
  cursor: pointer;
}
